# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output (for Vercel & others)
.vercel
.vercel_build_output
.next
dist/
build/

# Logs
*.log
logs/
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Cache
.cache/
