<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/login.css">
  <title>Login Page</title>
</head>

<body>
  <form action="/login" method="POST">
    <h2>Login</h2>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <p>OR</p>
    <a class="google-login" href="/auth/google">
      Continue with Google
    </a>
    <p><a href="/register">Don't have an account? Register here.</a></p>
    <% if(incorrect ){%>
    <p id="error-message" style="color: red;"><%= msg %></p>
    <% } %>
    <button type="submit">Login</button>
  </form>

</body>

</html>